transformers==4.34.0
trl==0.7.1
datasets==2.14.5
torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121
bitsandbytes
accelerate==0.23.0
fastapi
pinecone-client
openai==0.28.0
langchain
requests
uvicorn
